@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --colorprimary: #bc9667;
  --colorsecondary: #edeae3;
  --text-color: #1b1b1b;
  --bg-color: #fff;
  --button-color: #8a6f4d;
  --bg-card-img: #f1f1f1;
}

body {
  /* background-color: var(--button-color); */
  font-family: "Poppins", sans-serif;
  /* background: url(img/bg.png); */
}
.header {
  text-align: center;
  background-color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  color: var(--bg-color);
}

.header-menu a {
  color: var(--bg-color);
  text-decoration: none;
  text-align: center;
  margin-left: 8px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 50px 100px;
  box-sizing: border-box;
  /* gap: px; */
}

.hero-desc h1 {
  /* color: var(--colorprimary); */

  font-size: 64px;
  /* font-size: 4rem; */
  color: var(--colorprimary);
  text-transform: uppercase;
  letter-spacing: 1px;

  /* font-size: 50px; */
}

.hero-desc p {
  font-size: 24px;
  color: var(--bg-color);
  margin: 40px 0px;
}

.hero-img img {
  width: 100%;
}

button {
  padding: 10px 40px;
  background-color: var(--colorprimary);
  color: var(--bg-color);
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: var(--button-color);
}

.gambar_kopi {
  width: 300px;
}

.about {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  box-sizing: border-box;
  gap: 50px;
}

.about-img img {
  width: 100%;
  border-radius: 20px;
}

.about-desc {
  line-height: 50px;
}

.product {
  padding: 50px 100px;
  box-sizing: border-box;
  text-align: center;
  /* background-color: var(--colorprimary); */
}
.product-title {
  margin-bottom: 48px;
}
.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  text-align: start;
  border-radius: 15px;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.product-card-img {
  background-color: var(--bg-card-img);
  margin: 10px;
  max-width: 300px;
  height: 300px;
  padding: 24px;
  display: flex;
  justify-content: center; /* Menengahkan secara horizontal */
  align-items: center;
  border-radius: 12px;
}
.product-card-img img {
  width: 100%;
}

.product-card-title {
  padding: 10px 20px;
}

.product-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.product-card-price p {
  background-color: var(--colorprimary);
  color: var(--bg-color);
  border-radius: 10px;
  padding: 4px 20px;
}

.product-card-price button {
  background-color: var(--bg-color);
  color: var(--colorprimary);
  border: 2px solid var(--colorprimary);
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  .header-menu {
    display: none;
  }
  .header-icon {
    display: none;
  }
  .hero {
    flex-direction: column;
    padding: 100px 10px;
  }

  .hero-desc h1 {
    /* color: var(--colorprimary); */
    /* font-size: 48px;
    color: var(--colorprimary);
    text-transform: uppercase; */

    /* font-size: 50px; */
  }
  .hero-img img {
    width: 80%;
  }

  .about {
    flex-direction: column;
    /* padding: 50px 100px; */
    padding: 50px 30px;
    text-align: justify;
  }

  .product {
    /* background-color: #8a6f4d; */
    padding: 50px 20px; /*agar card idak mengecil */
  }
  .product-title {
    font-size: small;
  }

  .customer-card {
    background-color: var(--colorprimary);
    width: 300px;
  }
  .customer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
  }
}

.customer-title {
  text-align: center;
  margin: 32px;
}
.customer-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  border-radius: 15px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.customer-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 24px 0px;
}

.customer-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 100px;
}

.star {
  display: flex;
  justify-content: center;
  width: 40%;
  align-items: center;
  /* background-color: #bc9667; */
}

.star img {
  width: 20%;
  height: auto;
  /* overflow: hidden; */
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  gap: 80px;
  background-color: var(--text-color);
  color: var(--bg-color);
}
